{
  parser: "babel-eslint",
  env: {
    es6: true,
    browser: true,
    jest: true
  },
  extends: "airbnb",
  plugins: ["react"],
    parserOptions: {
    ecmaFeatures: {
      jsx: true
    }
  },
  rules: {
    "react/jsx-uses-react": "error",
    "react/jsx-filename-extension": "off",
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off"
  }
}